
<div class="con" id="con">
    <h3>
        Approve this client?
    </h3>
    <h4>
        <span style="font-weight:bolder;">ID:</span>
        <span id="client_id_span"></span>
    </h4>
    <button class="btn btn-primary" id="approveAuth" onclick="approveAuth">Approve</button>
    <button class="btn btn-primary" id="declineAuth" onclick="declineAuth">Decline</button>

</div>